<head>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">>

/*Colors used: Primary Color (Blue):#1a227e;
Secondary Color: (Yellow): #ecca30;*/
body{
  background-color:lightblue;
  font-family: 'Cormorant+Garamond',sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}
</head>
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
font-size: 2.75em;
font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #ffffff;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #ecca30;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #1a227e;
}
a:active { /* selected link */
  color: #3A8891;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #3A8891;
  color: #F2DEBA; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #3A8891;
  text-transform: uppercase;
  border: 2px solid #0E5E6F;
}
.button.contact:hover {
  background-color: #0E5E6F;
  color: #ffffff;
}
