/*Colors used: Primary Color (Blue):#1a227e;
Secondary Color: (Yellow): #ecca30;*/
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.body {
  background-color: FFefD6;
  font-family: 'Cormorant+Garamond', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #ecca30;
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #FFEFD6;
}

a:active {
  /* selected link */
  color: #3A8891;
}

a:hover,
a:focus {
  color: #FFEFD6;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #1a227e;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  border-bottom: 2px solid #FFEFD6;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
}

.button.contact {
  display:inline-block;
  background-color: transparent;
  color: #1a227e;
  text-transform: uppercase;
  border-radius: 50px;
  border: 2px solid #1a227e;
}

.button.contact:hover {
  background-color: #1a227e;
  color: #ffffff;
}

header {
  background-color:#1a227e;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin: 10px auto;
  border-bottom: 3px solid #4a4a4a
}

selector {
  position: relative;
}


.navtoggle li:not(:last-child) {
  display: none;
}

.responsive.navtoggle li:not(:last-child) {
  display: block;
}
.navtoggle, .navtoggle.responsive {
position: relative;
}
.navtoggle li .icon {
position: absolute;
right: 0;
top: 2px;
font-size: 20px;
padding-right:0
}
ul{
list-style: disc;
}
/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

.logo {
margin-right: auto;
  max-width: 150px;
  text-align: center;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin:0
}

header {
  display: flex;
  justify-content: flex-end;
  padding-top: 56px;
  padding: 30px 10%;
  background-color: #1a227e;
  ;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.overlay__content a {
  font-family: "Coromorant+Garamond", sans-serif;
  font-weight: 600;
  color: #F2DEBA;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

#hero {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: block;
  text-align: center;
  width: 100%
}

main {
  padding-top: 133px;
}

/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    padding-top: 99.8px;
  }

  .col-md-6 {
    width: 50%;
  }
  .logo {
  margin-right: auto;
    max-width: 200px;
    text-align: center;
  }
  nav {
    margin: auto 0;
  }
  nav li:last-child {
  display: none;
}
  .navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  padding: 15px 15px;
  /* text-transform: uppercase; */
  font-weight: 500;
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .navtoggle li:last-child {
  display: none;
}
}
}
    /* ==============================
X-large devices (1440px or larger)
================================= */
    @media only screen and (min-width: 1440px) {}

    /* ==============================
Extra-large devices (1920px or larger)
================================= */
    @media only screen and (min-width: 1920px) {}

    #hero span {
      display: block;
    }

    [class*="col-"] {
      float: left;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
      padding: 10px
    }

    #about-page h3 {
      margin-top: 0;
    }

    .moon {
      position: relative;
      animation: 4s color-change infinite alternate linear;
    }

    @keyframes color-change {
      0% {
        fill: #4a4a4a;
      }

      50% {
        fill: #CD104D;
      }

      100% {
        fill: #FD841F;
      }
    }


    
    /* @keyframes telescope-move {
animation: 30s cloud-move infinite alternate linear;
} */


.right-column-style {
  padding-left: 15px;
}
.fa-brands {
  color: #1a227e;
  font-size: 80px
}
